body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:893px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:49px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:33px;
  width:40px;
  height:49px;
}
#u0_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:39px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1664AE;
  line-height:39px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:103px;
  top:56px;
  width:68px;
  height:39px;
  font-family:'Helvetica Neue Bold', 'Helvetica Neue';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1664AE;
  line-height:39px;
}
#u1_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u2_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:36px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:40px;
  width:53px;
  height:36px;
}
#u2_img.mouseOver {
}
#u2.mouseOver {
}
#u2_img.mouseDown {
}
#u2.mouseDown {
}
#u2_img.disabled {
}
#u2.disabled {
  opacity:0.5;
}
#u2_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:8px;
  width:29px;
  white-space:nowrap;
}
#u3_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:36px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:40px;
  width:53px;
  height:36px;
}
#u3_img.mouseOver {
}
#u3.mouseOver {
}
#u3_img.mouseDown {
}
#u3.mouseDown {
}
#u3_img.disabled {
}
#u3.disabled {
  opacity:0.5;
}
#u3_text {
  border-width:0px;
  position:absolute;
  left:12px;
  top:8px;
  width:29px;
  white-space:nowrap;
}
#u4_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:840px;
  height:419px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:105px;
  width:840px;
  height:419px;
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:200;
  font-style:normal;
  color:#999999;
}
#u4_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:202px;
  width:836px;
  word-wrap:break-word;
}
